$primary-color: #fbae19;
$secondary-color: #1d3969;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$font-stack: 'Roboto Condensed', sans-serif;
$font-nomarl: 'Roboto', sans-serif;
$website-width: 1140px;
$nav-height: 70px;
$pace_item_standar: 10px;

$first-responsive: 950px;
$second-responsive: 720px;